.debug [class*="col-"] {
  background-color: rgba(248,187,208, 0.3);
  border: 1px solid rgba(240,98,146 ,1);
}

/* COMMONS AND GENERAL */
body{
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: bold;
}

ul li{
  list-style: none;
  padding-right: 15px;
}

ul li a:hover{
  text-decoration: none;
}

a{
  color: rgb(26, 121, 255);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: rgb(26, 121, 255);
}

.sr-padding-80{
  width: 80%;
  margin: 0 auto;
}

.sr-padding-60{
  width: 60%;
  margin: 0 auto;
}

.sr-white-txt{
  color: white;
}

.sr-grey-txt{
  color: rgb(171, 184, 223);
}

.sr-blue-txt{
  color: rgb(0, 106, 255);
}

/* NAVBAR */
.logo{
  background-color: white;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.logo img{
  height: 30px;
  width: 150px;
  margin-top: 10px;
}

.logo ul li{
  display: inline;
}

.logo ul li a{
  color: black;
  font-weight: bold;
}

.glyphicon-menu-down{
  font-size: 12px;
}

.btn.sr-btn-custom{
  padding: 3px 6px;
  background-color: white;
  color: rgb(26, 122, 255);
  border: 1px solid rgb(26, 122, 255);
}

.sr-btn-lg{
  width: 90%;
  margin: 10px 5%;
  font-weight: bold;
}

/* MAIN */
/* JUMBOTRON */
.sr-jumbo{
  background-image: url(../img/bg-banner-home.jpg);
  width: 100%;
  height: 100%;
  background-color: rgb(12, 50, 90);
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: 45% 100%;
  padding-bottom: 35px;
  padding-top: 100px;
}

.sr-jumbo-txt{
  padding-right: 50px;
}

.sr-jumbo h1{
  font-size: 4.5em;
  line-height: 1.1em;
}

.sr-jumbo-txt p{
  color: rgb(158, 185, 255);
  font-size: 1.5em;
  line-height: 1em;
}

.sr-bg-fo{
  background-color: rgb(255, 255, 255);
  height: 350px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 15px 0;
  overflow: hidden;
  font-weight: bold;
}

.sr-bg-fo h3{
  font-weight: bold;
  font-size: 2em;
}

.sr-bg-fo h4{
  font-weight: bold;
  font-size: 2em;
}

.form-control{
  width: 90%;
  margin: 0 5%;
}

.sr-btn-blu{
  background-color: rgb(87, 154, 255);
  color: white;
}

.sr-btn-white{
  background-color: white;
  box-shadow: 2px 2px 4px rgb(228, 228, 228);
  background-image: url(../img/google-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 1% 87%;
}

.sr-btn-white img{
  width: 15px;
  margin
}

.sr-policy{
  font-size: 0.9em;
}

#sr-terms {
  font-size: 0.9em;
  text-decoration: underline;
}

/* jubmo media queries */
@media screen and (max-width: 1200px){
  .sr-jumbo h1{
    font-size: 3em;
    line-height: 1em;
  }

  .sr-jumbo-txt p{
    color: rgb(158, 185, 255);
    font-size: 1.2em;
    line-height: 1em;
  }
}

/* PARTNERS */
.sr-partners{
  background-color: rgb(243, 245, 249);
}

.sr-partners img{
  width: 100px;
  height: 100px;
}

/* DEPLOY */
.sr-deploy{
  background-color: rgba(159,168,218 ,1);
}

.sr-deploy ul li{
  margin-left: -35px;
  margin-bottom: 15px;
  font-size: 16px;
}

.sr-list-box{
  height: auto;
  border-left: 2px solid rgb(208, 208, 208);
}

/* DESIGNED */
.sr-designed{
  background-color: rgba(144,202,249 ,1);
}

.sr-my-box{
  position: relative;
}

.sr-arr-left{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%);
}

.sr-arr-right{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%);
}

.sr-designed img{
  width: 450px;
}

.sr-captation{
  margin-top: 10px;
}

[class*="sr-dot"]{
  display: inline;
  font-size: 12px;
  color: rgb(0, 106, 255);
}

.sr-dot.active :active{
  font-weight: 900;
}

/* FEATURES */
.sr-features{
  background-color: rgba(129,212,250 ,1);
}

.sr-features img{
  height: 40px;
  width: 40px;
}

/* SERVICE */
.sr-service{
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: rgb(0, 65, 187);
  background-image: linear-gradient(rgb(0, 65, 187), rgb(0, 32, 155));;
}

.sr-white-underline{
  border-bottom: 1px solid white;
  padding: 15px 0;
  margin: 0 2.5px;
}

.sr-trasp-underline{
  border-bottom: 1px solid transparent;
  padding: 15px 0;
  margin: 0 2px;
}

.sr-service a{
  color: aquamarine;
}

/* DEVELOPMENT */
.sr-development{
  background-color: rgba(128,203,196 ,1);
}

.sr-bg-rocker{
  background-color: white;
}

/* FOOTER */
/* FOOTER TOP */
.footer-top{
  line-height: 60px;  
  vertical-align: middle;
  background-color: rgb(0, 65, 187);
  background-image: linear-gradient(rgb(0, 65, 187), rgb(0, 32, 155));
}

.sr-btn-inverted{
  color: rgb(6, 111, 255);
}

/* FOOTER BOTTOM */
.footer-bottom{
  background-color: rgb(3, 28, 78);
  padding-bottom: 50px;
}

footer ul{
  padding: 0;
}

footer ul li{
  color: rgb(97, 110, 139);
}

.socials li{
  margin: 0;
  display: inline;
}

footer ul li h6{
  color: white;
}

footer .sr-shark {
  position: fixed;
  z-index: 998;
  bottom: 20px;
  width: 100%;
  background-color: transparent;
  margin-left: 0;
}

footer .sr-shark .sr-shark-img {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #006AFF;
  background-image: url(../img/shark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

footer .sr-shark .sr-shark-img .sr-shark-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 22px;
  height: 22px;
  background-color: #FF0000;
  border-radius: 50%;
  border: 3px solid #FFF;
}

footer .sr-shark .sr-shark-img .sr-shark-badge p {
  color: #FFF;
  margin: -2px;
  padding: 0;
}

footer .sr-shark .sr-shark-text {
  position: relative;
  max-width: 250px;
  height: 60px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 5px;
  color: #041D4D;
  margin-right: 20px;
  margin-left: 20px;
}

footer .sr-shark .sr-shark-text .sr-square {
  position: absolute;
  right: -7px;
  bottom: 9px;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  transform: rotate(45deg);
}

@media all and (max-width: 991px) {
  footer .sr-shark .sr-shark-img,
  footer .sr-shark .sr-shark-text {
    float: left!important;
  }

  footer .sr-shark .sr-shark-text .sr-square {
    position: absolute;
    left: -7px;
    bottom: 9px;
    width: 14px;
    height: 14px;
    background-color: #FFF;
    transform: rotate(45deg);
  }

}